#contenedor2{
    display: none;
    background-color: turquoise;
    border: solid;
    padding-bottom: 10px;
    justify-items: center;

}

#contenedor1{
    background-color: salmon;
    border: solid;
    padding-bottom: 10px;
    justify-items: center;

}

